body {
    background-image: url(../Img/SDG-min.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right -30.000em bottom -1.280em;
    background-size: 43.750em 43.750em;
    max-width: 100%;
    overflow-x: hidden;
}

.main-container{
    padding-top: 3.750em;
}

header {
    background: #02146f !important;
}

.navbar-brand {
    color: #FFFFFA;
    font-weight: 700;
    font-size: 1.875em;
}

.btn-primary {
    background: #02146f !important;
    font-size: 1.4em;
    font-weight: 700;
}

.btn-primary:hover {
    color: #02146f;
    border: 0.063em solid #02146f;
    background: #fff !important;
}

a:hover {
    color: #fff;
}

label{
    font-weight: 600;
    color: #000;
    font-size: 1.2em;
}
h1{
    color: #000;
}